<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<body>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8652.656250387892!2d-2.09582365!3d57.168444449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48840e0400000000%3A0xfa5ca7f4f50108e!2sUniversity+of+Aberdeen!5e0!3m2!1sen!2suk!4v1518799108251" width="750" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

</body>
</html>