<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<body>

		<div class="container">  
    		<h1>Welcome to Formula One Statistics</h1> 
    		<h3>This website is dedicated to race statistics of F1's last six world champions and a live Twitter feed of F1's official Twitter account. 
    		It was developed by three students of MSc Information Technnology at the University of Aberdeen, Scotland. <h3>  
		</div>

		<div class="text-center">
			<div class="mapouter">
				<div class="gmap_canvas">
				<iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university of aberdeen&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>