<% provide(:title, "Twitter Live Feed") %>

<h1>Twitter Live Feed</h1>

<center><div class = 'imageddiv'>
	<img src="twitter_PNG32.png" alt="Twitter Logo" width= '100px' height= '100px' style = 'margin-bottom: 20px'>
</div>
</center>

<div id = 'tweetsdiv'>
		<% @tweets.each do |a| %>
			<div class = 'panel panel-default'>
			<div class = 'panel-body' style = 'height:80px; background-color:#ccffff'>
				<p style = "font-family: 'Raleway',sans-serif; font-size: 16px; font-weight: 500; margin: 0 0 24px;"><%=a %></p>
			</div>
			</div>
		<% end %>
</div>


	<script>

		function loadlink(){
		    $('#tweetsdiv').load(window.location.href + " #tweetsdiv");
		}
	loadlink(); // This will run on page load
	setInterval(function(){
	    loadlink() // this will run after every 10 seconds
	}, 5000);
		
	</script>
