<center>
<%= column_chart Result.column_chart,
	id: 'drivers_column_chart',
	width: "1000px",
	height: "500px", 
	title: "Column chart of acheived points of drivers in " + $year_column_chart,
	  colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
	  library: {
	  	yAxis: {
	  		title: {
	  			text: "Points achieved this year"
	  		},
            labels: {
               format: '{value} points'
           }
       },
       xAxis: {
       		title: {
       			text: "Driver name"
       		}
       },
       plotOptions: {
       		column: {
       			colorByPoint: true
       		},
       		series: {
       			borderWidth: 0,
       			dataLabels:  {
       				enabled: true,
       				format: '{point.y} points'
       			}
       		}
       },
	    tooltip: {
	      pointFormat: 'Points at this year: <b>{point.y}</b>'
	    },
	    series: [{
    		colorByPoint: true,
    		}]
  	}
 %>

  <div class="button">
    <a href="/columncharts" class="btn btn-warning" role="button">Pick A Different Year</a>
  </div>
</center>