<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c0c0c;
    color: white;
    text-align: center;
}
</style>

<div class="footer">
  <p> March 2018 Created By: Alga Abilesh, Ashley Lee, Dimitar Bakardzhiev  </p>
</div>